.__productCard {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.__productCardBestSeller.hidden {
  display: none;
}

.__productCardBestSeller {
  background-color: #ac4a64;
  position: absolute;
  color: black;
  right: -5px;
  top: -10px;
  transform: rotate(20deg);
  z-index: 1111;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
}

.__productCardBestSeller span {
  font-size: 10px;
  font-weight: 700;
}

.__productCardBody img {
  width: 100%;
  height: 150px;
}

.__productCardInfo {
  text-align: left;
}

.__productCardInfo .title {
  margin-top: 10px
}

.__productCardInfo .title p {
  font-size: 17px;
  color: #9cd4ff;
  font-weight: 600;
}

.__productCardInfo .price p {
  font-size: 16px;
  font-weight: 600;
}

.__productCardInfo .price p span {
  font-size: 14px;
  font-weight: 500;
  color: #e0e0e0;
  text-decoration: line-through;
}

.__productCardInfo .price .available {
  margin-top: -15px;
  font-size: 14px;
  font-weight: 500;
  color: #9cd4ff;
}

.__productCardInfo .price .available .MuiSvgIcon-root {
  font-size: 18px;
  font-weight: 700;
  margin-right: 8px;
  color: #9cd4ff;
}
