.__listProductPage {
  flex: 1;
}

.__listProductPageMainWrapper {
  margin-top: 20px;
}

.__listProductPageMainWrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__searchProductWrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #e9c501;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

.__searchProductWrapper input {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  color: white;
}

.__filterProductWrapper {
  margin-top: 10px;
}

.__listProductPageMainWrapper hr {
  margin: 10px 0;
}

.__modalAddProductHeadFoot {
  background-color: rgba(33, 37, 41, 1);
}

.__modalAddProduct {
  background-color: #191919;
}

.__modalAddProduct.__addProduct {
  overflow: auto !important;
  height: 350px !important;
}

.__detailProductImage {
  text-align: center;
}

.__detailProductImage img {
  width: 150px;
}

.__detailProductInfo {
  font-size: 13px;
}

.__detailProductAction {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.__listTheProduct {
  /* margin-top: 25px; */
  background-color: rgba(33, 37, 41, 1);
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.__productInDashboardImgWrapper {
  width: 100%;
}

.__listTheProduct img {
  width: 100%;
}

.__productInfoTitle {
  padding: 10px;
  font-size: 13px;
}

.__productInfoTitle h3 {
  font-size: 16px;
}

.loadingTheData {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border.custom {
  width: 60px !important;
  height: 60px !important;
}
