.__listCategoryPage {
  flex: 1;
}

.__listCategoryPageMainWrapper {
  margin-top: 20px;
}

.__listCategoryPageMainWrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
