.__homeSection {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
}

.__homeSection h4 {
  color: #9cd4ff;
}

.__homeSectionWa {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.__homeSectionWa p {
  color: #ac4a64;
  font-weight: 600;
}

.__homeSectionWa span a {
  text-decoration: none;
}

.__homeProduct {
  text-align: center;
  margin-top: 100px;
}

.__homeProduct h1 {
  font-size: 27px;
  color: #9cd4ff;
}

.__homeProduct p {
  font-size: 12px;
}

.__homeProductList {
  margin-top: 30px;
}

@media (max-width: 767.98px) {
  .__jumbotron {
    display: none;
  }
}
