.__homeSection {
  margin-top: 20px;
  font-size: 13px;
}

.__homeSection h1 {
  font-family: Cyberpunk-Regular;
  color: #e9c501;
}

.__homeSection blockquote {
  border-left: 3px solid #e9c501;
  padding: 0.5rem 1rem;
}

.__homeProduct {
  text-align: center;
  margin-top: 100px;
}

.__homeProduct h1 {
  font-size: 27px;
  color: #e9c501;
}

.__homeProduct p {
  font-size: 12px;
}

.__homeProductList {
  margin-top: 30px;
}

@media (max-width: 767.98px) {
  .__jumbotron {
    display: none;
  }
}
